* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 136, 244, 0.786);
}

.container {
    width: 100%;
    max-width: 40rem;
    min-width: 20rem;
    height: auto;
    padding: 1rem;
    background-color: rgba(237, 234, 234, 0.881);
    border-radius: 10px;
    border: none;
}

input {
    border: none;
    border-radius: 5rem;
    box-sizing: border-box;
    padding: 12px 10px;
    width: 88%;
    max-width: 36rem;
    min-width: 18rem;
    height: 40px;
    background-color: rgba(43, 136, 244, 0.786);
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.go-btn {
    background-color: hsl(145, 63%, 49%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.go-btn:hover{
    width:60px;
    height: 60px;
    background-color: hsl(145, 63%, 50%);
}
.disp-cont{
    padding: 4rem;
}
.res-container{
    padding: 4rem;
    background-color: rgba(237, 234, 234, 0.881);
    border: none;
    border-radius: 1rem;
    color:black;
}
.res-par{
    font-weight: bold;
}